*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: var(--red);
}

::-webkit-scrollbar-thumb{
    background-color: aqua;
}



a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

